// @media only screen and (max-width: 1940px) {
//     .container{
//         width: 1440px !important;
//     }
// }

@media only screen and (max-width: 1440px) {
    .container{
        width: 1100px !important;
    }
}

@media only screen and (max-width: 1120px) {
    .container{
        width: 960px !important;
    }
}

@media only screen and (max-width: 960px) {
    .container{
        width: 720px !important;
    }
    main{
        section{
            .main__row{
                grid-template-columns: repeat(2, 1fr) !important;
                row-gap: 30px;
            }
            .main-overview{
                .main__row_box{
                    grid-template-columns: repeat(2, 1fr) !important;
                    row-gap: 30px;
                    .main__col{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .container{
        width: 560px !important;
    }
}

@media only screen and (max-width: 560px) {
    .container{
        width: 490px !important;
    }
    header{
        section{
            padding: 0 20px;
            flex-direction: column;
            row-gap: 20px;
        }
    }
}

@media only screen and (max-width: 490px) {
    .container{
        width: 400px !important;
    }
    main{
        section{
            .main__row{
                grid-template-columns: 1fr !important;
                row-gap: 30px;
            }
            .main-overview{
                .main__row_box{
                    grid-template-columns: 1fr !important;
                    row-gap: 30px;
                    .main__col{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    header{
        section{
            .header-media{
                h2{
                    font-size: 22px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 300px !important;
    }
}